.background-body{
    background: url("../../../img/Background-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.body-main{
    display: flex;
    align-items: center;
}
.body-main .main-titles{
    margin-left: 14.7%;
    margin-top: 11.9%;
    margin-bottom: 19.7%;
}